<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <title>Party Game</title>
</head>

<body>
    <button onclick="window.location.href='/home';">Home</button>
    <p></p>
    <label id="question">{{.Question}}</label>
    <br>
    <br>
    <input type="text" id="player-answer" name="player-answer">
    <br>
    <br>
    <button id="submit-button" hx-post="/submit-answer" hx-include="#player-answer">Submit</button>
</body>

</html>
